## Important Dates

<table>
    <thead>
      <tr>
        <th style="text-align:left">Event</th>
        <th style="text-align:left">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Paper submission deadline</td>
        <td>July 17, 2025 <b>(hard deadline)</b></td>
      </tr>
      <tr>
        <td>Acceptance notification</td>
        <td>August 15, 2025</td>
      </tr>
      <tr>
        <td>Camera-ready deadline</td>
        <td>September 3, 2025</td>
      </tr>
      <tr>
        <td>Workshop Date</td>
        <td>October 17, 2025</td>
      </tr>
    </tbody>
  </table>
  
